@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;700;800;900&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family:'Montserrat', sans-serif;
  overflow-x: hidden;
}

a{
  text-decoration: none;
}

html,body{
  min-width:100vw;
  min-height: 100vh;
  background-color: rgba(8, 13, 39, 0.918);
  color: white;
}



.header{
  display:flex;
  justify-content: space-between;
  align-items: center;
  position: static;
  padding: 15px;
  padding-right: 5%;
  background-color: rgba(8, 13, 39, 0.918);
}

.header-text{
  flex: 1;
  padding-left: 5%;
  font-size: 21px;
  color: rgb(21, 158, 238);
  cursor: pointer;

}

#currency-select{
  outline-color: none;
  padding: 7px;
  background-color:transparent;
  border-color: rgb(95, 93, 93);
  color:white;
  border-radius: 4px;
  font-size: 18px;
  font-weight: 300;

}
#currency-select  option{
  background-color: rgba(8, 13, 39, 0.959);
}

.banner-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-image: url("../public/pxfuel.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  
  z-index: -6;

}


.banner-tagline{
  font-weight: 700;
  font-size: 310%;
  padding-top: 5%;
  padding-left: 10px;
  will-change: filter;
  transition: filter 1s;
}
.banner-tagline:hover,.tagline-p:hover{
    filter: drop-shadow(3px 3px 10px #f3f3f3c5);


}

.tagline-p{
  padding-top: 10px;
  padding-left: 10px;
  font-size: 14px;
  color: rgb(194, 193, 193);
  will-change: filter;
  transition: filter 1s;
}

.carousel-cont{
  height: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.first-card-image{
  height: 80px;
}

.other-cards{
  display: flex;
}

.card-images{
  height: 80px;
}