@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;700;800;900&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family:'Montserrat', sans-serif;
  
}

a{
  text-decoration: none;
}

html,body{
  width:100vw;
  height: 100vh;
  background-color: rgba(8, 13, 39, 0.918);
  color: white;
  overflow-x: hidden;

}



.header{
  display:flex;
  justify-content: space-between;
  align-items: center;
  position: static;
  padding: 15px;
  padding-right: 5%;
  background: linear-gradient(
    60deg,
    rgba(24, 10, 73, 0.842),
    rgba(18, 59, 75, 0.808)
    
  );
  box-shadow: inset 1px 3px 8px 0px rgba(20, 20, 20, 0.644);

}

.header-text{
  flex: 1;
  padding-left: 5%;
  font-size: 21px;
  color: rgb(223, 223, 223);
  cursor: pointer;

}

#currency-select{
  outline-color: none;
  padding: 7px;
  background-color:transparent;
  border-color: rgb(95, 93, 93);
  color:white;
  border-radius: 4px;
  font-size: 18px;
  font-weight: 300;

}
#currency-select  option{
  background-color: rgba(33, 55, 59, 0.808);
}

.banner-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 83vh;
  row-gap: 10px;
  background-image: url("../public/12980762_5096160.jpg");
  background-repeat: no-repeat;
  background-size: cover;

}


.banner-tagline{
  line-height: 80px;
  font-weight: 700;
  font-size: 300%;
  will-change: filter;
  transition: filter 1s;
}
.banner-tagline:hover,.tagline-p:hover{
    filter: drop-shadow(3px 3px 10px #f8d99fc5);


}

.tagline-p{
  font-size: 13px;
  color: rgb(194, 193, 193);
  will-change: filter;
  transition: filter 1s;
}

.carousel-cont{
  height: 260px;
  width: 100%;
  display: flex;
  column-gap: 30px;
  align-items: center;
  justify-content: center;
}



.other-cards{
  width: 430px;
  height: 250.5px;
  display: grid;
  grid-template: repeat(3,1fr)/repeat(3,1fr);
  gap: 10px;
}
.other-cards > a{
  width: 100%;
}

.card-cont{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: white;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: inset 1px 3px 8px 0px rgba(10, 10, 10, 0.815);
}



.coin-symbol{
  text-transform: uppercase;
  font-size: 12px;
  
}

.profit{
  color: rgb(0, 140, 255);
  font-size: 11px;
  font-weight: 500;
}

.loss{
  color:rgb(201, 4, 4) ;
  font-size: 11px;
  font-weight: 500;
}


.value{
  font-size: 14px;
  font-weight: 600;
}

.card-images{
  height: 48%;
  width: 23%;
  will-change: filter;
  transition: filter 1s;
}
.card-images:hover, .first-card-image:hover{
    filter: drop-shadow(3px 3px 15px #f8d99fc5);

}

.first-card,.first-card-wrap{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 430px;
  height: 100%;
  background: linear-gradient(
    130deg,
    rgb(19, 17, 54)
    rgb(44, 42, 42)
  );
  border-radius: 20px;
  box-shadow: inset 6px 3px 8px 0px rgba(0, 0, 0, 0.644);
  color: white;
}

.first-card-image{
  height:55%;
  width: 35%;
  will-change: filter;
  transition: filter 1s;
}

.first-card-symbol{
  text-transform: uppercase;
  font-size: 50px;
  
}

.first-card-profit{
  color: rgb(0, 140, 255);
  font-size: 22px;
  font-weight: 500;
}


.first-card-loss{
  color:rgb(201, 4, 4);
  font-size: 22px;
  font-weight: 500;
}


.first-card-value{
  font-size: 35px;
  font-weight: 600;

}

.table-container{
  display: flex;
  justify-content: center;
  overflow-x: auto;
}

.table-profit{
  color: rgb(0, 140, 255);
  font-size: 15px;
  font-weight: 500;
}


.table-loss{
  color:rgb(201, 4, 4);
  font-size: 15px;
  font-weight: 500;
}

.table-images{
  width: 45px;
  height: 45px;
}

.first-td-cont{
  display: flex;
  column-gap: 15px;
}

.firsttd-name-symbol{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.firsttd-symbol{
  text-transform: uppercase;
  font-size: 1.5em;
}

.firsttd-name{
  color: rgb(158, 158, 158);
}

table{
  margin-top: 15px;
  width: 90%;
  border-spacing: 0;
}


td{
  text-align: center;
  padding: 25px;
  border-bottom: 1px solid #a5a5a5de;
}

.coin-rows:hover{
  background-color: rgba(6, 10, 31, 0.918);

}

.head-row{
  background: linear-gradient(
    60deg,
    rgba(22, 65, 90, 0.842),
    rgba(22, 67, 85, 0.808)
    
  );

}

th{
  padding: 20px;
  border-bottom: 1px solid #888787de;

}


@media screen and (max-width: 890px){



.banner-container{
  align-items: center;
  flex-direction: column
}

.carousel-cont{
  flex-direction: column;
  row-gap: 30px;
  align-items: center;
  justify-content: center;
}

.first-card{
  width: 450px;
}

.first-card-image{
  height:92px;
  width: 120px;
}

.first-card-symbol{
  font-size: 42px;
}

.first-card-profit{
  font-size: 18px;
  font-weight: 500;

}
.first-card-value{
  font-size: 25px;

}

.other-cards{
  display:flex;
  flex-direction: row;
  width: min-content;
}
}